@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
}

.admins,
.staffs,
.users {
  margin: 100px;
  margin-right: 40px;
  margin-left: 250px;
  align-items: center;
  font-size: 2rem;
  font-family: 'Nunito';
}


